html{
    user-select: none;  
    background-color: rgb(8 236 8 / 31%);
    max-width: 400px;
}

#container{
    display: flex;
    flex-direction: column;

    padding: 5px;
    max-width: 400px;
}

#input-item{
    border: none;
    border-radius: 8px;
    margin: 10px 0;

    padding: 10px;
    background-color: rgb(205, 200, 200, 1);
    font-size: large;
    text-align: center;
}

#add{
    border: none;
    border-radius: 8px;
    margin: 10px 0;

    padding: 10px;
    background-color: rgb(20, 227, 101);
    font-size: large;
}
#add:hover{
    cursor: pointer;
}

#shoppingList{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
#shoppingList li{
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(248, 216, 177);
    flex-grow: 1;
    cursor: pointer;

    text-align: center;
    font-size: large;
}
#shoppingList li:hover{
    background-color: rgb(236, 194, 143);
}